[class*="__container"]{
    max-width: 1170px;
    margin: 0 auto;
    margin: 0 px 15px;
  }

@media (max-width:1199.98px){
    [class*="__container"]{
        max-width: 970px;
    }

    .body-main-block{
        display: block;
    }

    .form-main-block{
        margin-right: 0;
    }

    .body-main-block__content{
        margin-bottom: 20px;
    }

    .main-block__container{
        padding-top: 100px;
        padding-bottom: 30px;
    }

     .main-block__body{
        margin-bottom: 40px;
     }

     .content-main-block__body{
        padding-right: 0px;
     }

     .partners-main-block{
        position: relative;
        z-index: 2;
        max-width: none;
     }

     .item__how:not(:last-child)::after{
      height: 10px;
      transform: translate(65%, 0px);
     }

     .item__how_2:not(:last-child)::after{
        
        transform: translate(65%, 0px) rotate(-180deg); 
       }

}


@media (max-width:991.98px){
    [class*="__container"]{
        max-width: 750px;
    }

    .item__how:not(:last-child)::after{
        height: 6px;
        transform: translate(80%, 0px);
       }
  
  .item__how_2:not(:last-child)::after{
         
          transform: translate(35%, 0px) rotate(-180deg); 
         }

         .how{
            padding-top: 70px;
            padding-bottom: 70px;
         }

         .main__block{
            padding-bottom: 70px;
        }

        .deals{
            padding-top: 70px;
            padding-bottom: 70px;
    }
    .featured{
        padding-top: 70px;
        padding-bottom: 70px;
}

    .featured__body{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-reviews{
        flex-wrap: wrap;
        row-gap: 30px;
        }

        .reviews{
            padding-top: 70px;
            padding-bottom: 70px;
    }

        .subcribe{
            padding-top: 70px;
            padding-bottom: 70px;
    }

    .subcribe__title{
        font-size: 30px;
    }

    .subcribe__sub-title{
        font-size: 20px;
    }



}

@media (min-width:991px) {
    .how__items{padding: 0px 35px;}
    .content-featured__body{
        flex: 1 1 auto;
        max-width: 412px;
        padding-top: 40px;
    }

    .content-featured__link{
        max-width: 412px;
    }
}

@media (min-width:768px){
    .footer__copy{
       grid-column: span 2; 
    }

}


@media (max-width:767.98px){
    [class*="__container"]{
     max-width: none;
   padding: 0 px 15px;
       }

        .header__container {
        min-width: 0;
       flex-direction: column;
        }   
        
        .menu__list{
            justify-content: center;
        }

        .menu__link{
         font-size: 18px; 
        }

        .partners-main-block__items{
         justify-content: center;   
        }

        .content-main-block__title{
            font-size: 30px;
            line-height: 12 0%;
        }

        .form-main-block{
            flex-direction: column;
        }

        .form-main-block__button{
            width: 100%;
            flex: 0 0 100px;
            
        }

        .main__block{
            padding-bottom: 30px;
        }

        .form-main-block__input{
            padding: 0px 15px;
        }
        
        .item__how:not(:last-child)::after{
           display: none;
           }
      
         .how__items{
        grid-template-columns: 1fr;
       }

       .item-how__icon{
        margin-bottom: 20px;
       }

       .how__title{
        margin-bottom: 30px;
       }

       .how{
        padding-top: 30px;
        padding-bottom: 30px;
     }

     .title{
        font-style: 30px;
     }

     .deals{
        padding-top: 30px;
        padding-bottom: 30px;
     }

     .header-deals__link{
        width: 100%;
     }

     .featured{
        padding-top: 30px;
        padding-bottom: 30px;
     }

     .featured__title{
        margin-bottom: 30px;
     }

     .featured__body{
        margin: 0px -15px;
        padding: 20px 15px;
     }

     .content-featured__title{
        font-size: 24px;
     }

     .reviews{
        padding-top: 30px;
        padding-bottom: 30px;
     }

     .subcribe{
        padding-top: 30px;
        padding-bottom: 30px;
     }

     .subcribe__title{
        font-size: 24px;
    }

    .subcribe__sub-title{
        font-size: 18px;
    }

    .form-subcribe{
        margin: 0px -15px;
        padding: 15px;
        flex-direction: column;

    }

    .footer__contaiter{
        padding-top: 30px;
        padding-bottom: 30px;
        grid-template-columns: 1fr; justify-items: center; row-gap: 30px; ;
    }



}

    @media (max-width: 479.98px){
.form-main-block{
    background: #fff;
}

.form-main-block__input{
    padding: 0px 15px;
}

.content-featured__options{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 35px;
}

}



